.manifestacija-container {
  background-color: #d4d1cd;
  padding: 40px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.title {
font-family: 'Quicksand', sans-serif;  font-size: 42px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33372a;
  margin-top: 0;
  text-shadow: 
    2px 2px 6px rgba(0, 0, 0, 0.15),
    0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.info-row {
  display: flex;
  justify-content: center;
  gap: 80px;
  font-size: 18px;
  margin-bottom: 30px;
  color: #7A816C;
  margin-top: 30px;
  gap: 60px;
}

.icon {
  margin-right: 8px;
}


.days-wrapper {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.day-card {
  background-color: #7A816C;
  padding: 30px;
  border-radius: 20px;
  color: #E5DFD6;
  width: 500px;
}

.day-card:hover {
  transform: scale(1.04);   
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.day-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 0px;
}

.day-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  font-size: 14px;
}

.izlozbe-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 15px;
}

.izlozba-card {
  background-color: #9AA892;
  border-radius: 15px;
  padding: 15px;
  color: #33372a;
  text-align: center;
  font-size: 14px;
}

.izlozba-card:hover {
  background-color: #88967F;
}

.dodatneInfo {
  color: #33372a;
  margin-top: 25px;
}

.prijava-btn {
  padding: 15px 40px;
  font-size: 15px;
  border: none;
  border-radius: 30px;
  background-color: #7A816C;
  color: #33372a;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.prijava-btn:hover {
  background-color: #88967F;
}

.loading {
  text-align: center;
  padding: 50px;
  font-size: 20px;
}
